<div class="row">
	<div class="col-sm-6 offset-sm-3">
	<%= form_with(model: @blog, local: true) do |f| %>
	
	<%= render 'form', f: f %>
	
	<%= f.submit '投稿する', class: 'btn btn-primary mr-2' %>
	<%= link_to 'キャンセル', root_path, class: 'btn btn-outline-dark' %>
		
	<% end %>
	</div>
</div>