<h1>Indoor Blogとは？</h1>
<p>
  インドアな趣味についてブログを発信するサイトです。<br>
  それ以外のジャンルにする場合はその他にしましょう。<br>
  また、お気に入りしたりできます。<br>
  フォローしたりして、交流を深めましょう。<br>
</p>
<br>
<h3>※ログインして出来ること</h3>
<ul>
	<li>ブログ投稿</li>
	<li>マイページ</li>
	<li>いいね</li>
	<li>フォロー</li>
	<li>コメント</li>
</ul>