<%= render 'toppages/tabs' %>

<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<% @blogs.each do |blog| %>
			
			<%= render 'toppages/blogs', blog: blog %>
			
		<% end %>
		<div class="mt-5"><%= paginate @blogs %></div>
	</div>
</div>