<nav id="genre_tabs">
	<ul>
		<li><a href="#">すべて</a></li>
		<li><a href="#">漫画</a></li>
		<li><a href="#">アニメ</a></li>
		<li><a href="#">ゲーム</a></li>
		<li><a href="#">映画</a></li>
		<li><a href="#">その他</a></li>
	</ul>
</nav>