<footer class="fixed-bottom" style="background-color: #333;">
  <p class="text-muted text-center mt-1"><%= link_to 'Indoor Blogとは？', about_path, class: 'btn btn-outline-secondary'%> &copy; 2019 Indoor Blog</p>
</footer>