<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="/"><strong>Indoor Blog</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <form class="mr-4 form-inline my-2 my-lg-0">
     			<input class="form-control mr-sm-2" type="search" placeholder="キーワードや作者名" aria-label="Search">
     			<button class="btn btn-success my-2 my-sm-0" type="submit">検索</button>
   			</form>
        <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
        <li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
</header>